p{
    font-size: 14px;
}
h1,h2{
    font-size: 22px;
}
.about-container {
  
    max-width: 1200px;
    height: 50vh;
    padding-inline: 3rem;
    margin-top: 7rem;
    display: flex;
    align-items: center !important; 
    gap: 3rem;
}
.about-container p{
    line-height: 1.6;
}
.mission-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}
.about-left{
    width: 50%;
}
.about-img{
    width: 50%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 63, 0.367);

}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

section {
    padding: 40px 0;
}



.mission-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

#values {
    padding-inline: 3rem;
    background-color: #f9f9f9;
    /* padding: 40px 0; */
}

.values-grid {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.value-item {
    max-width: 330px;
    /* background-color: rgb(243, 255, 243); */
    background-color:  rgba(241, 240, 255, 0.462);
    /* color: white; */
    color: rgb(50, 50, 50);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size:14px;
    transition: transform 0.3s;
}

.value-item:hover {
    transform: scale(1.05);
}
.value-item i{
    font-weight: 100 !important ;
    font-size: 35px;
    color: var(--secondary);
}
#team{
    padding-inline: 4rem;
    border: 0.1px solid lightgray;
}
.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.team h3{
    font-size: 18px;
}
.team p{
    font-size: 14px;
}
.team-member {
    text-align: center;
    background: #ffffff;
    border: 1px solid #e0e0e056;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.team-member img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.member-bio {
    font-size: 0.9em;
    color: #555;
}

