/* Footer Styles */
.site-footer {
    background-color: white;
    padding: 40px 20px;
    color: var(--primary);
  }

  .foot-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-content {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 35% 35% 1fr;
    align-items: start;
    justify-content: start;
    gap: 20px;
  }

  .footer-about,
  .footer-features {
    flex-basis: 48%;
  }

  .footer-heading {
    color: var(--secondary);
    font-size: 20px;
    margin-bottom: 15px;
  }

  .feature-list {
    list-style: none;
    padding: 0;
  }

  .feature-list li {
    margin-bottom: 10px;
  }

  .feature-list li a {
    color: var(--primary);
    text-decoration: none;
  }

  .feature-list li a:hover {
    color: var(--tertiary-dark);
  }

  /* .footer-subscribe {
    margin-top: 30px;
  } */

  .subscribe-input-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .email-input {
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    width: 100%;
  }

  .subscribe-btn {
    background-color: var(--tertiary-dark);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .subscribe-btn:hover {
    background-color: var(--tertiary);
  }

  /* Social Icons */
  .social-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
  }

  .social-icon {
    color: var(--secondary);
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .social-icon:hover {
    color: var(--tertiary-dark);
  }

  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
  }


